[Desktop Entry]
Encoding=UTF-8
Name=mythTV progfind
Comment=Programm finder for mythTV.
Icon=mythprogfind.png
Exec=mythprogfind
Terminal=false
Type=Application
Categories=Video;TV;
# vi: encoding=utf-8
